<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">
    <!-- 以 app_process 启动 -->
    <application
        android:label="NekoService"
        tools:targetApi="37">
    </application>
</manifest>