<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">
    <!-- with app_process Start -->
    <application
        android:label="api36"
        tools:targetApi="37">
    </application>
</manifest>