<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">
    
    <!-- USB 主机模式功能 -->
    <uses-feature 
          android:name="android.hardware.usb.host"
          android:required="true" />
    <!-- USB 配件模式功能 -->
    <uses-feature 
          android:name="android.hardware.usb.accessory"
          android:required="false" />
            
    <!-- USB 权限，哈哈哈 -->
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <!-- 防止手机休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 以高采样率访问传感器数据 -->
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <!-- 开机启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 强制更新所有权 -->
    <uses-permission android:name="android.permission.ENFORCE_UPDATE_OWNERSHIP" />
    <!-- 在后台运行 -->
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <!-- 在后台使用数据 -->
    <uses-permission android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" />
    
    <application 
        android:allowBackup="true" 
        android:directBootAware="true"
        android:usesNonSdkApi="true"
        android:resizeableActivity="true"
        android:appCategory="productivity"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher" 
        android:roundIcon="@mipmap/ic_launcher" 
        android:label="@string/app_name" 
        android:supportsRtl="true" 
        android:theme="@style/AppTheme"
        tools:targetApi="37">
        <!-- USB 配件模式的库必须添加 -->
        <uses-library 
            android:name="com.android.future.usb.accessory"
            android:required="false" />
        <activity 
            android:name="MainActivity"
            android:directBootAware="true"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action 
                    android:name="android.intent.action.MAIN" />
                <category 
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- USB主机模式 -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <!-- USB配件模式 -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <!-- USB主机模式配置 -->
            <meta-data 
                 android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                 android:resource="@xml/usb_device_filter" />
            <!-- USB配件模式配置 -->
            <meta-data
                 android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                 android:resource="@xml/accessory_filter" />
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>