<?xml version="1.0" encoding="utf-8"?>
<!-- /*
 * Copyright (c) 2026-2030 小猫猫. All rights reserved.
 * 
 * LICENSE NOTE:
 * Any redistribution must retain this copyright notice and license disclaimer.
 *
 * by: 小猫猫
 */ -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">
    <uses-feature 
          android:glEsVersion="0x00030002"
          android:required="false" />
    <!-- USB 主机模式功能 -->
    <uses-feature 
          android:name="android.hardware.usb.host"
          android:required="true" />
    <!-- USB 配件模式功能 -->
    <uses-feature 
          android:name="android.hardware.usb.accessory"
          android:required="false" />
    <!-- WiFi 硬件功能 -->
    <uses-feature 
          android:name="android.hardware.wifi"
          android:required="false" />
    <uses-feature 
          android:name="android.hardware.wifi.direct"
          android:required="false" />
    <!-- 定位硬件功能 -->
    <uses-feature 
          android:name="android.hardware.location"
          android:required="false" />
    <uses-feature 
          android:name="android.hardware.location.gps"
          android:required="false" />
    <uses-feature 
          android:name="android.hardware.location.network"
          android:required="false" />
    <uses-feature 
          android:name="android.hardware.sensor.hifi_sensors"
          android:required="false" />
    
    <!-- Android 13+ 附近 WiFi 设备 -->
    <uses-permission-sdk-23 
        android:name="android.permission.NEARBY_WIFI_DEVICES" 
        android:usesPermissionFlags="neverForLocation" />
    <!-- 使用证书 -->
    <uses-permission-sdk-23 android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission-sdk-23 android:name="android.permission.USB_PERMISSION" />
    <!-- 防止手机休眠 -->
    <uses-permission-sdk-23 android:name="android.permission.WAKE_LOCK" />
    <!-- 以高采样率访问传感器数据 -->
    <uses-permission-sdk-23 android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <!-- 开机启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 强制更新所有权 -->
    <uses-permission-sdk-23 android:name="android.permission.ENFORCE_UPDATE_OWNERSHIP" />
    <!-- 在后台运行 -->
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <!-- 在后台使用数据 -->
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" />
    <!-- 查看WLAN连接 -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 连接WLAN网络和断开连接 -->
    <uses-permission-sdk-23 android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 允许接收WLAN多播 -->
    <uses-permission-sdk-23 android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <!-- 查看网络连接 -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 拥有完全的网络访问权限 -->
    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <!-- 更改网络连接性 -->
    <uses-permission-sdk-23 android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 运行前台服务 -->
    <uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 运行「dataSync」类型的前台服务 -->
    <uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <!-- 运行「connectedDevice」类型的前台服务 -->
    <uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <!-- uses-permission-sdk-23 强行要求应用程序必须在运行的情况下才能使用权限，不管是不是普通权限 -->
    <application
        android:process=":adb"
        android:name=".Application"
        android:allowBackup="true"
        android:directBootAware="true"
        android:usesNonSdkApi="true"
        android:usesCleartextTraffic="true"
        android:resizeableActivity="true"
        android:appCategory="productivity"
        android:networkSecurityConfig="@xml/network_security_config"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher" 
        android:roundIcon="@mipmap/ic_launcher" 
        android:label="@string/app_name" 
        android:supportsRtl="true" 
        android:theme="@style/AppTheme"
        tools:targetApi="37">
        <!-- uses-native-library Android 12+ -->
        <uses-native-library
            android:name="com.android.future.usb.accessory"
            android:required="false" />
        <!-- activity-alias 适配 Pixel 系列的类原生系统桌面 -->
        <activity-alias
             android:name="aliasActivity"
             android:exported="true"
             android:targetActivity=".MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity 
            android:name="MainActivity"
            android:process=":adb"
            android:directBootAware="true"
            android:showForAllUsers="false"
            android:hardwareAccelerated="true"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="adjustPan"
            android:canDisplayOnRemoteDevices="false"
            android:requireContentUriPermissionFromCaller="4"
            android:launchMode="singleTop"
            android:persistableMode="persistNever"
            android:exported="true">
            <!-- USB主机模式 -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <!-- USB配件模式 -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <!-- USB主机模式配置 -->
            <meta-data 
                 android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                 android:resource="@xml/usb_device_filter" />
            <!-- USB配件模式配置 -->
            <meta-data
                 android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                 android:resource="@xml/accessory_filter" />
        </activity>
        <service
            android:name="GhzRootService"
            android:exported="false"
            android:process=":root"
            android:directBootAware="true"
            android:shell="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:process=":adb"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>