<?xml version="1.0" encoding="utf-8"?>
<!-- /*
 * Copyright (c) 2026-2030 小猫猫. All rights reserved.
 * 
 * LICENSE NOTE:
 * Any redistribution must retain this copyright notice and license disclaimer.
 *
 * by: 小猫猫
 */ -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">
    
    <!-- USB 主机模式功能 -->
    <uses-feature 
          android:name="android.hardware.usb.host"
          android:required="true" />
    <!-- USB 配件模式功能 -->
    <uses-feature 
          android:name="android.hardware.usb.accessory"
          android:required="false" />
    <!-- WiFi 硬件功能 -->
    <uses-feature 
          android:name="android.hardware.wifi"
          android:required="false" />
    <uses-feature 
          android:name="android.hardware.wifi.direct"
          android:required="false" />
    <!-- 定位硬件功能 -->
    <uses-feature 
          android:name="android.hardware.location"
          android:required="false" />
    <uses-feature 
          android:name="android.hardware.location.gps"
          android:required="false" />
    <uses-feature 
          android:name="android.hardware.location.network"
          android:required="false" />
    
    <!-- Android 13 及以上设备使用这个权限（不需要定位） -->
    <uses-permission 
        android:name="android.permission.NEARBY_WIFI_DEVICES" 
        android:usesPermissionFlags="neverForLocation" />
    <!-- Android 12 及以下设备必须依赖定位权限 -->
    <uses-permission 
        android:name="android.permission.ACCESS_FINE_LOCATION" 
        android:maxSdkVersion="32" />
    <!-- USB 权限，哈哈哈 -->
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <!-- 防止手机休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 以高采样率访问传感器数据 -->
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <!-- 开机启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 强制更新所有权 -->
    <uses-permission android:name="android.permission.ENFORCE_UPDATE_OWNERSHIP" />
    <!-- 在后台运行 -->
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <!-- 在后台使用数据 -->
    <uses-permission android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" />
    <!-- 拥有完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 更改网络连接性 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 查看WLAN连接 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 连接WLAN网络和断开连接 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 查看网络连接 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 发送持久广播 -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 允许接收WLAN多播 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    
    <application 
        android:name=".Application"
        android:allowBackup="true" 
        android:directBootAware="true"
        android:usesNonSdkApi="true"
        android:usesCleartextTraffic="true"
        android:resizeableActivity="true"
        android:appCategory="productivity"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher" 
        android:roundIcon="@mipmap/ic_launcher" 
        android:label="@string/app_name" 
        android:supportsRtl="true" 
        android:theme="@style/AppTheme"
        tools:targetApi="37">
        <!-- USB 配件模式的库必须添加 -->
        <uses-library 
            android:name="com.android.future.usb.accessory"
            android:required="false" />
        <activity 
            android:name="MainActivity"
            android:directBootAware="true"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action 
                    android:name="android.intent.action.MAIN" />
                <category 
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- USB主机模式 -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <!-- USB配件模式 -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <!-- USB主机模式配置 -->
            <meta-data 
                 android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                 android:resource="@xml/usb_device_filter" />
            <!-- USB配件模式配置 -->
            <meta-data
                 android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                 android:resource="@xml/accessory_filter" />
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>